@import url('https://fonts.googleapis.com/css2? família=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Arima+Madurai:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;300;400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor00: #000366;
    --cor01: #464CEA;
    --cor02: #0009E6;
    --cor03: #1F2166;
    --cor04: #0006B3;
    --cor05: #FFE600;
    --cor06: #F5990C;
    --cor07: #ff8902;
    --black: black;
    --white: white;

    --font-destaque:'Arima Madurai', cursive;
    --font-padrao: 'Inter';
    --font-especial: 'Bebas Neue', cursive;
*{
    padding: 0;
    margin: 0;

}

body{
    background-image: linear-gradient(to bottom, var(--cor00), var(--cor01));
}
main{
    background-color: #000366;
}

header{
    text-align: right;
    font-size: large;
}

.menu ul{
    background-color: var(--cor05);
    display: flex;
    list-style-type: none;
    padding: 15px;
    justify-content: space-around;
}

.menu a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 15px;
    font-weight: 700;
}
.menu li a:hover{
    color: var(--cor03);
}

.default-screen{
    height: 100vh;
    padding: 0px 80px;
}

.botoes{
    border: none rgba(0, 0, 0, 0.158);
}
.botoes button {
    margin: auto;
    min-width: 30%;
    height: 3.5em;
    background-color: var(--cor05);
    border-radius: 6%;
    border: 2px 5px rgba(0, 0, 0, 0.651);
}
.botoes a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.botoes a:hover{
    color: var(--cor00);
}

h1, h2, h3, p{
    color: white;
}
.bg-one{
    background-color: var(--cor00);

}

.bg-two{
    background-color: var(--cor01);

}

.presentation{
    font-size: 35px;
}